* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* Quantidade de Alunos */
.alunos-quantidade {
    width: 50%;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 18px;
}

/* Lista de Alunos */
.lista-alunos {
    width: 50%;
    margin: 20px auto 40px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.lista-alunos h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}

.lista-alunos ul {
    list-style: none;
}

.lista-alunos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.lista-alunos li:last-child {
    border-bottom: none;
}

.lista-alunos button {
    background-color: #648773;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.lista-alunos button:hover {
    background-color: #4f6a5b;
}