/* Estrutura */

.containerPai {
    width: 100%;
    height: 100vh;
    background-color: #141514;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80%;
    height: 95vh;
    border-radius: 32px;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: #141514;
}

/* Fazer Login / Cadastro */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formulário de Login e Cadastro */
.login-container {
    left: 0;
    z-index: 2;
}

.cadastro-container {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.card.right-panel-active .login-container {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.card.right-panel-active .cadastro-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
}

/* Cadastro */
.formlogin,
.formCadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #141514;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.formlogin form,
.formCadastro form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
}

option {
    background-color: #222;
    color: white;
}

.input-group label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
}

input,
select,
textarea {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    appearance: none;
}

/* Botões principais */
button.botao {
    background-image: linear-gradient(to right, #f3fbfb, #134c3c, #98b7af);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

button.botao:hover {
    background-image: linear-gradient(to left, #f3fbfb, #134c3c, #98b7af);
}

/* Estilo dos textos */
p {
    margin-bottom: 10px;
    font-size: 14px;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 700;
}

.fab {
    font-size: 20px;
    margin: 0 8px;
    color: gray;
    text-decoration: none;
}

.fab:hover {
    color: lightgray;
}

.formlogin>p,
.formCadastro>p {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* verde que troca de lado */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.card.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Overlay que desliza */
.overlay {
    background: linear-gradient(to bottom, #f3fbfb, #98b7af, #134c3c);
    color: black;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    display: flex;
}

.card.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Painéis do bloco verde */
.overlay-panel {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
}

.overlay-panel h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.overlay-panel p {
    font-size: 14px;
    max-width: 300px;
    margin-bottom: 10px;
}

/* Botões secundários (fundo branco, texto preto) */
button.ghost {
    background-color: white !important;
    color: black !important;
    width: 80%;
    max-width: 200px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

button.ghost:hover {
    background-color: #e0e0e0 !important;
    color: black !important;
    font-weight: 700;
}